body {
  margin: 0;
  color: black!important;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 300!important;
  font-size: 13px!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  color: #000;
  font-weight: 500!important;
  font-family: 'Oswald', sans-serif!important;
}
input {
	outline: none;
}
ul{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
