
.cart-content{
    margin-top:30px;
    width:100%;
}
.cart-content .total{
    float: right;
}
.cart-content .table{
    width: 100%;
}
.thumbnail{
    text-align: center;
}
.thumbnail .thumbnail-cart {
    border-radius: 10px;
    width: 75px;
    border: 1px solid #cecece;
}
.cart-content .table{
    text-align: center;
}
.cart-content .table td{
    font-size: 17px;
    vertical-align: middle;
}
input.quantity-input.form-control{
    width: 30px;
    border-radius:10px!important;
}

.panel-group .panel{
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .05);
    border-radius: 10px;
}
.panel-group .panel .heading{
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 3px;
    border-radius: 10px 10px 0 0;
}
.panel-group .panel .heading h5{
    display: inline-block;
    margin-right: 5px;
}

.error-msg{
    color: red;
}
.cart-content .cart-calculation{
    margin-left: auto;
    padding: 20px 0;
    width:400px;
}
.cart-content .option-cart-btn .btn-check-out{
    float: right;
}
.cart-content .cart-action i{
    font-size: 120%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.cart-content .cart-action .fa-check-square{
    color: green;
}
.cart-content .cart-action .fa-check-square:hover{
    color: darkgreen;
}
.cart-content .cart-action i:hover{
    color: rgb(255, 0, 0);
}
.cart-content .load{
    text-align: center;
}