
.product-list .item-inner{
    text-align: center;
    margin-bottom: 30px;
    border-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
}

.product-list .item-inner .image{
    position: relative;
    height: 250px;
}
.product-list .item-inner .caption{
    margin-top: 20px;
}
.product-list .item-inner .image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product-list .item-inner .caption .rating-box{
    width: 77px;
    margin: 5px auto;
    text-align: initial;
}
.product-list .item-inner .caption .rating-box img{
    width: 100%;
    height: 100%;
}
.product-list .item-inner .caption .product-name{
    color: #202226;
    padding: 0;
    display: block;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 35px;
}
.product-list .item-inner .caption .price-box{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.product-list .item-inner .caption .price-box .new{
    display: inline-block;
    color: rgb(255, 94, 0);
    font-size: 22px;
}
.product-list .item-inner .caption .price-box .old{
    display: inline-block;
    margin-left: 10px;
    color: #b8b8b8;
    text-decoration: line-through;
    font-size: 20px;
}
.product-list .item-inner-active{
    transition: all 0.3s;
    border-color: rgb(255, 94, 0) !important;
    box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff !important;
}
.product-list .item-color{
    padding: 8px 5px;
    display: flex;
    align-items: center;
}
.product-list .item-color .row{
    width: 100%;
}
.product-list .item-color .img-color{
    width: 55px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.product-list .item-color .img-color img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cecece;
    transition: all 0.3s;
}
.product-list .item-color .img-color img:hover{
    border: 1.5px solid rgb(255, 94, 0);
}